body {
    font-family: 'Montserrat', sans-serif,;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    color: #fff;
    background-color: #000;
}
/* Animação canva */
@keyframes bgcolorcanvaname{
    0% {
        color: #fff;
    }
    50% {
        color: #6674E6;
    }
    100% {
        color: #fff;
    }
}
@keyframes bgcolorcanva {
    0% {
        background: #6674E6;
    }
    50% {
        background: #141414;
    }
    100% {
        background: #6674E6;
    }
}

/* Animação filmora */
@keyframes bgcolorfilmoraname{
    0% {
        color: #64CAAA;
    }
    50% {
        color: #253642;
    }
    100% {
        color: #64CAAA;
    }
}
@keyframes bgcolorfilmora {
    0% {
        background: #141414;
        border: 5px solid #64CAAA;
    }
    50% {
        background: #64CAAA;
        border: 5px solid #253642;
        
    }
    100% {
        background: #141414;
        border: 5px solid #64CAAA;
    }
}

/* Botão voltar ao topo */
.back-to-top {
    display: inline-block;
}
a.back-to-top {
    position: fixed;
    z-index: 999;
    right: 12px;
    bottom: 12px;
    width: 42px;
    height: 42px;
    border-radius: 30px;
    background: #24262a url(../img/svg/up-arrow.png) no-repeat center 47%;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    text-indent: -9999px;
}
a:hover.back-to-top {
    background-color: #24262a;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

/********************/
/*       Nav        */
/********************/
.portfolio.html {
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 1rem;
	background-color: transparent;
    text-align: center;
}
.ex-header h1 {
    margin: 50px 0;
}
.ex-header h3 {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

#navbar-projetosdev {
    position: relative;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
#navbar-projetosdev ul {
    position: relative;
    top: -100px;
    left: -30px;
}
#navbar-items li:hover {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);
}

/**********************/
/*       Geral        */
/**********************/
a {
    color: inherit !important;
    text-decoration: none !important;
}
ul li {
    list-style: none;
}
.btn {
    display: inline-block;
    padding: 13px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    background: #FC3C00;
    color: #fff;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    transition: all .2s ease;
}
.btn:hover {
    cursor: pointer;
    background: #FD9100;
    color: #fff;
    transform: scale(0.9);
    transition: all 0.2s;
}

/**********************/
/*    Part Design     */
/**********************/
/* Galeria de imagens */

/* gallery */
/*canva */
.container-img-canva {
    margin-top: 200px;
    text-align: center;
    max-width: 100%;
    animation: bgcolorcanva 20s infinite;
}
.canva {
    color: #6674E6;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: bgcolorcanvaname 20s infinite;
    margin-bottom: 100px;
}
.icon-svg {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.card_img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 25px;
}
.small_img{
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}
.small_img:hover{
    filter: grayscale(50%);
    transform: scale(1.1);
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#end-class {
    margin-bottom: 100px;
}

/* filmora */
.container-img-filmora {
    text-align: center;
    max-width: 100%;
    animation: bgcolorfilmora 20s infinite;
}
.filmora {
    color: #64CAAA;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: bgcolorfilmoraname 20s infinite;
    margin-bottom: 100px;
}
.filmora-videos {
    max-width: 100vh;
    margin-bottom: 100px;
}
.filmora-videos-shorts {
    max-height: 100vh;
    max-width: 100vh;
    margin: 20px;
    margin-bottom: 100px;
    
}
video {
    animation: bgcolorfilmora 20s infinite !important;
    border-radius: 4px;
}


/******************/
/*     Footer     */
/******************/
.footer {
    width: 100vw;
    padding-top: 4.25rem;
	padding-bottom: 2rem;
	background-color: transparent;
	text-align: center;
    color: #fff;
    border-top: 2px solid #24262a;
}
.footer a {
	text-decoration: none;
}
/* Sociais */
#contact {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left: -30px;
}
.list-socials {
    display: flex;
}
.list-socials li {
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 50px;
    width: 50px;
    background: #fff;
    line-height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}
.list-socials li:hover {
    background-color: #24262a;
}
.list-socials li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: green;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
}
.list-socials li:nth-child(1):before {
    background: #0A63BC;
}
.list-socials li:nth-child(2):before {
    background: #ECC4AB;
}
.list-socials li:nth-child(3):before {
    background: #2AAC00;
}
.list-socials li:nth-child(4):before {
    background: #239CD7;
}
.list-socials li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px #24262a;
}
.list-socials li:nth-child(1):hover:before {
    box-shadow: 0 0 15px pink;
}
.list-socials li:nth-child(2):hover:before {
    box-shadow: 0 0 15px pink;
}
.list-socials li:nth-child(3):hover:before {
    box-shadow: 0 0 15px pink;
}
.list-socials li:nth-child(4):hover:before {
    box-shadow: 0 0 15px pink;
}
.list-socials li:nth-child(1):hover {
    color: #0A63BC;
    box-shadow: 0 0 15px #0A63BC;
    text-shadow: 0 0 15px #0A63BC;
}
.list-socials li:nth-child(2):hover {
    color: #ECC4AB;
    box-shadow: 0 0 15px #ECC4AB;
    text-shadow: 0 0 15px #ECC4AB;
}
.list-socials li:nth-child(3):hover {
    color: #2AAC00;
    box-shadow: 0 0 15px #2AAC00;
    text-shadow: 0 0 15px #2AAC00;
}
.list-socials li:nth-child(4):hover {
    color: #239CD7;
    box-shadow: 0 0 15px #239CD7;
    text-shadow: 0 0 15px #239CD7;
}
.copyright {
    margin-top: 30px;
}
.copyright h5 {
    font-weight: 400;
    font-size: 0.8rem;
}

/**********/
/* MOBILE */
/**********/
@media screen and (max-width: 768px) {
    .ex-header h1 {
        margin: 30px 0;
        font-size: 30px;
    }
    .ex-header h3 {
        margin: 100px 0;
        font-size: 20px;
    }
    .separate {
        width: 95%;
        padding: 0 0;
    }
    .filmora-videos {
        max-width: 80vh;
    }
    .filmora-videos-shorts {
        max-height: 90vh;
        max-width: 100vh;
    }
}